# Modified from https://wiki.archlinux.org/index.php/Reflector
[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --country 'Australia' --latest 100 --age 24 --fastest 10 --sort rate --save /etc/pacman.d/mirrorlist


[Install]
RequiredBy=multi-user.target
